#navDiarioD
{
    background-color: rgb(136, 127, 136);
}
#navHabitosD
{
    background-color: rgb(136, 127, 136);
}
#navEventosD
{
    background-color:  rgb(136, 127, 136);
}
#navViciosD
{
    background-color:  rgb(136, 127, 136);
}